@mixin clearfix { // the clearfix to work we always need to specify content
    &::after {
        content: "";// Content property specify overwise the sudo element will simply not appear on the page // we want content empty because we don't want to see this element on the page
        display: table; // Standard version of clearfix
        clear: both;  // Clears both lef/right float
    }
}


@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





// MEDIA QUERY MANAGER

/*

0 - 600PX:     PHONE
600 - 900PX:   TABLET PORTRET
900 - 1200PX: TABLET LANDSCAPE
[1200 - 1800] -->> is where our normal styles apply
1800PX + :     BIG DESKTOP

$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width: 37.5em) { @content };// 600px 
    }

    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land{
        @media (max-width: 74em) { @content }; // 1200px
    }

    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}





