body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  /* font-size: 16px; */
    line-height: 1.7;
    
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden; /* fix the shaking in animation */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
   
        // media q for phones 
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        
        /*
        animation-delay: 3s;
        animation-iteration-count: 3:
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        
        animation: moveInRight 1s ease-out;

        // media q for phones 
        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;// for an element to not occupy all available width
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // Gradient Effect to appear behind the text
    -webkit-background-clip: text;// Background gets cliped exactly where the text is // As well it gives it visibility where the text is
    //Text transparent
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    
    //media query for tablets
    @include respond(tab-port) {
        font-size: 3rem;
    }

    // media q for mobile
    @include respond(phone) {
        font-size: 2.5rem;
    }



    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

// Section About 

// Heading style
.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

// Paragraph style

.paragraph {
    font-size: $default-font-size;
    // margin bottom not() sudo class

    &:not(:last-child) {
        margin-bottom: 3rem; // margin at the bottom between paragraph
    }
}








