.u-center-text {text-align: center;} // Centers TEXT

.u-margin-bottom-big {margin-bottom: 8rem;}// Margin bottom // reusable acros all site
.u-margin-bottom-medium {margin-bottom: 4rem;} // Margin bottom acros the site
.u-margin-bottom-small {margin-bottom: 1.5rem;}// Margin bottom acros the site