// About Section

.section-about {
    background-color: $color-grey-light-1; //color cames from _variables.scss file
    padding: 25rem 0;// 25 rem on top and on the bottom
    // To move up entire thing ( line section )
    // we can specify the top marin
    margin-top: -20vh; // negative margin, in terms for line to move up
    
}

// Features Section

.section-features {
    padding: 20rem 0;// make spaceier
    // Background linear gradient color and background image
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.5), 
        rgba($color-primary-dark, 0.5)) , 
    url(../img/nat-4.jpg);
    background-size: cover;
    // Sckew entire section
    transform: skewY(-7deg);
    margin-top: -10rem; // it align the line with section about 


    //direct child selector of section features ( selects )
    // compiled css 
    // .section-features * 

    & > * {
        transform: skewY(7deg);
    }
}


// Section Tours

.section-tours {
    background-color: $color-grey-light-1; //color cames from _variables.scss file
    padding: 25rem 0 15rem 0;// 25 rem on top and on the bottom
    margin-top: -10rem;
}


// Section Stories

.section-stories {
    padding: 15rem 0;
    position: relative;
}